/*  your css code here. If applicable */
.testimonials{
	background-color:#f5f5f5;
}

.para1{
	background-color:white;
}
.para2{
	background-color:white;
}
p.italic{
	text-align:right;
	font-style:italic;
}
